.contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    height: 100%;
    margin: 250px 15%;
    gap: 20%;
}
.footerPro {
    width: 1278px;
    height: 104px;
    display: flex;
    align-items: right;
    gap: 500px;
    justify-content: center;
    position: relative;
    margin: -120px auto;
}

.footbar {
    width: 205vh;
    height: 2px;
    background: #DB778F;
    position: absolute;
    margin-top: 50px;
}

.titlefooter {
    color: #DB778F;
    font-family: 'Manrope', sans-serif;
    font-size: 128px;
    font-weight: 100;

}