.title {
  color: #d27c92;
  font-size: 4rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 100;

}

.subtitle {
  color: #d27c92;
  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 100;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;

}


.mocoimg {
  position: absolute;
  top: 40%;
  right: 30%;
  width: 437px;
  height: 248px;
  z-index: 4;
}

.abac {
  position: absolute;
  top: 48%;
  right: 15%;
  width: 458px;
  height: 270px;
  z-index: 1;
}

.sr {
  position: absolute;
  top: 27%;
  right: 25%;
  height: auto;
  width: 423px;
  z-index: 3;
}

.triptico {
  position: absolute;
  top: 35%;
  right: 40%;
  width: 421px;
  height: 140px;
  z-index: 2;
}

.footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: max-content;
  gap: 500px;

}

.header {
  position: absolute;
  top: 42%;
  left: 26%;
  z-index: 5;
}

.name {
  margin-left: 100px;
}

.sname {
  margin-left: 230px;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope/static/Manrope-Light.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}