.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
    width: 96%;
    padding: 20px 0px;
    z-index: 1000;
}

.homeNavbar {
    justify-content: space-between !important;
    gap: 0 !important;
    padding: 20px 50px !important;
}

.navbar a {
    color: #DB778F;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    text-decoration: none;
}
.navLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
   
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/static/Manrope-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}